---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_API_KEY>&exclude=minutely&lat=42.259445&lon=-89.064445&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":42.2594,"lon":-89.0644,"timezone":"America/Chicago","timezone_offset":-21600,"current":{"dt":1611109430,"sunrise":1611062407,"sunset":1611096820,"temp":26.55,"feels_like":10.47,"pressure":1019,"humidity":74,"dew_point":20.19,"uvi":0,"clouds":90,"visibility":8047,"wind_speed":19.57,"wind_deg":350,"wind_gust":36.82,"weather":[{"id":601,"main":"Snow","description":"snow","icon":"13n"}],"snow":{"1h":0.25}},"hourly":[{"dt":1611108000,"temp":26.55,"feels_like":15.55,"pressure":1019,"humidity":74,"dew_point":20.19,"uvi":0,"clouds":90,"visibility":10000,"wind_speed":10.56,"wind_deg":313,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.44},{"dt":1611111600,"temp":23.16,"feels_like":12.38,"pressure":1021,"humidity":86,"dew_point":20.01,"uvi":0,"clouds":92,"visibility":10000,"wind_speed":10.2,"wind_deg":320,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.4},{"dt":1611115200,"temp":18.75,"feels_like":6.94,"pressure":1024,"humidity":92,"dew_point":17.04,"uvi":0,"clouds":80,"visibility":10000,"wind_speed":11.59,"wind_deg":312,"weather":[{"id":803,"main":"Clouds","description":"b[...]
