---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?inFormat=kvp&key=<MAPQUEST_API_KEY>&location=rockford,%20il&outFormat=json&thumbMaps=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 20 Jan 2021 17:20:35 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":false,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"rockford,
        il"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Rockford","adminArea5Type":"City","adminArea4":"Winnebago
        County","adminArea4Type":"County","adminArea3":"IL","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282037677","unknownInput":"","type":"s","latLng":{"lat":42.266802,"lng":-89.088377},"displayLatLng":{"lat":42.266802,"lng":-89.088377}}]}]}'
  recorded_at: Wed, 20 Jan 2021 17:20:35 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_API_KEY>&exclude=minutely&lat=42.266802&lon=-89.088377&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":42.2668,"lon":-89.0884,"timezone":"America/Chicago","timezone_offset":-21600,"current":{"dt":1611163235,"sunrise":1611148777,"sunset":1611183298,"temp":15.01,"feels_like":1.22,"pressure":1022,"humidity":67,"dew_point":7,"uvi":1.56,"clouds":40,"visibility":10000,"wind_speed":13.8,"wind_deg":200,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"hourly":[{"dt":1611162000,"temp":15.01,"feels_like":2.97,"pressure":1022,"humidity":67,"dew_point":7,"uvi":1.56,"clouds":40,"visibility":10000,"wind_speed":10.69,"wind_deg":201,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1611165600,"temp":15.8,"feels_like":2.52,"pressure":1021,"humidity":81,"dew_point":11.53,"uvi":1.76,"clouds":57,"visibility":10000,"wind_speed":13.44,"wind_deg":187,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1611169200,"temp":18.77,"feels_like":3.81,"pressure":1018,"humidity":89,"dew_point":16.38,"uvi":1.68,"clouds":57,"visibility":10000,"wind_speed":17.07,"wind_deg":188,"weather":[{"id":803,"main":"Clouds","description":"bro[...]
