---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?inFormat=kvp&key=<MAPQUEST_API_KEY>&location=rockford,%20il&outFormat=json&thumbMaps=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 20 Jan 2021 02:05:49 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":false,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"rockford,
        il"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Rockford","adminArea5Type":"City","adminArea4":"Winnebago
        County","adminArea4Type":"County","adminArea3":"IL","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282037677","unknownInput":"","type":"s","latLng":{"lat":42.266802,"lng":-89.088377},"displayLatLng":{"lat":42.266802,"lng":-89.088377}}]}]}'
  recorded_at: Wed, 20 Jan 2021 02:05:49 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_API_KEY>&exclude=minutely&lat=42.266802&lon=-89.088377&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":42.2668,"lon":-89.0884,"timezone":"America/Chicago","timezone_offset":-21600,"current":{"dt":1611108349,"sunrise":1611062414,"sunset":1611096824,"temp":27.55,"feels_like":7.39,"pressure":1019,"humidity":86,"dew_point":24.33,"uvi":0,"clouds":90,"visibility":1207,"wind_speed":27.63,"wind_deg":350,"wind_gust":39.12,"weather":[{"id":601,"main":"Snow","description":"snow","icon":"13n"}]},"hourly":[{"dt":1611108000,"temp":27.55,"feels_like":17.02,"pressure":1019,"humidity":86,"dew_point":24.33,"uvi":0,"clouds":90,"visibility":10000,"wind_speed":10.54,"wind_deg":314,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.44},{"dt":1611111600,"temp":23.63,"feels_like":13.06,"pressure":1021,"humidity":92,"dew_point":21.88,"uvi":0,"clouds":92,"visibility":10000,"wind_speed":10.18,"wind_deg":320,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.4},{"dt":1611115200,"temp":18.86,"feels_like":7.11,"pressure":1024,"humidity":94,"dew_point":17.58,"uvi":0,"clouds":80,"visibility":10000,"wind_speed":11.59,"wind_deg":311,"weather":[{"id":803,"main":"Clouds","description":"[...]
