---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?inFormat=kvp&key=<MAPQUEST_API_KEY>&location=rockford,%20il&outFormat=json&thumbMaps=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 20 Jan 2021 04:49:47 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":false,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"rockford,
        il"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Rockford","adminArea5Type":"City","adminArea4":"Winnebago
        County","adminArea4Type":"County","adminArea3":"IL","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282037677","unknownInput":"","type":"s","latLng":{"lat":42.266802,"lng":-89.088377},"displayLatLng":{"lat":42.266802,"lng":-89.088377}}]}]}'
  recorded_at: Wed, 20 Jan 2021 04:49:47 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_API_KEY>&exclude=minutely&lat=42.266802&lon=-89.088377&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":42.2668,"lon":-89.0884,"timezone":"America/Chicago","timezone_offset":-21600,"current":{"dt":1611118188,"sunrise":1611062414,"sunset":1611096824,"temp":24.35,"feels_like":8.46,"pressure":1022,"humidity":63,"dew_point":14.76,"uvi":0,"clouds":90,"visibility":10000,"wind_speed":18.41,"wind_deg":300,"wind_gust":32.21,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"hourly":[{"dt":1611115200,"temp":24.35,"feels_like":10.13,"pressure":1022,"humidity":63,"dew_point":14.76,"uvi":0,"clouds":90,"visibility":10000,"wind_speed":15.41,"wind_deg":308,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.6},{"dt":1611118800,"temp":18.52,"feels_like":5.07,"pressure":1023,"humidity":79,"dew_point":13.69,"uvi":0,"clouds":91,"visibility":10000,"wind_speed":13.98,"wind_deg":307,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.56},{"dt":1611122400,"temp":13.17,"feels_like":0.16,"pressure":1025,"humidity":88,"dew_point":10.6,"uvi":0,"clouds":87,"visibility":10000,"wind_speed":12.88,"wind_deg":312,"weather":[{"id":804,"main":"Clouds","description":"ov[...]
