---
http_interactions:
- request:
    method: get
    uri: https://developers.zomato.com/api/v2.1/search?count=1&lat=m&lon=e&q%5B%5D=-89.064445&q%5B%5D=42.259445
    body:
      encoding: US-ASCII
      string: ''
    headers:
      User-Key:
      - 56c363738735e75365bf71e1fb2d8549
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"results_found":1515286,"results_start":0,"results_shown":1,"restaurants":[{"restaurant":{"R":{"res_id":16615034,"is_grocery_store":false,"has_menu_status":{"delivery":-1,"takeaway":-1}},"apikey":"56c363738735e75365bf71e1fb2d8549","id":"16615034","name":"Whiskey
        Gully Wines","url":"https:\/\/www.zomato.com\/severnlea-qld\/whiskey-gully-wines-severnlea?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1","location":{"address":"25
        Turner Rd, Severnlea","locality":"Severnlea","city":"Severnlea","city_id":2748,"latitude":"-28.6967590000","longitude":"151.9118240000","zipcode":"04352","country_id":14,"locality_verbose":"Severnlea,
        Severnlea"},"switch_to_order_menu":0,"cuisines":"French, Modern Australian","timings":"9
        AM to 5 PM (Mon, Thu), Closed (Tue-Wed),9 AM to 9 PM (Fri-Sun)","average_cost_for_two":30,"price_range":3,"currency":"$","highlights":["Dinner","Lunch","Live
        Music","Nightlife","Table booking recommended","Outdoor Seating","Gluten Free
        Options"],"offers":[],"opentable_support":0,"is_zomato_book_res":0,"mezzo_provider":"OTHER","is_book_form_web_view":0,"book_form_web_view_url":"","book_again_url":"","thumb":"","user_rating":{"aggregate_rating":0,"rating_text":"Not
        rated","rating_color":"CBCBCB","rating_obj":{"title":{"text":"-"},"bg_color":{"type":"grey","tint":"400"}},"votes":1},"all_reviews_count":1,"photos_url":"https:\/\/www.zomato.com\/severnlea-qld\/whiskey-gully-wines-severnlea\/photos?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1#tabtop","photo_count":5,"menu_url":"https:\/\/www.zomato.com\/severnlea-qld\/whiskey-gully-wines-severnlea\/menu?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1&openSwipeBox=menu&showMinimal=1#tabtop","featured_image":"","medio_provider":false,"has_online_delivery":0,"is_delivering_now":0,"store_type":"","include_bogo_offers":true,"deeplink":"zomato:\/\/restaurant\/16615034","is_table_reservation_supported":0,"has_table_booking":0,"events_url":"https:\/\/www.zomato.com\/severnlea-qld\/whiskey-gully-wines-severnlea\/events#tabtop?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1","phone_numbers":"(07)
        4683 5100","all_reviews":{"reviews":[{"review":[]}]},"establishment":["Bar"],"establishment_types":[]}}]}'
  recorded_at: Wed, 20 Jan 2021 18:46:12 GMT
recorded_with: VCR 6.0.0
