---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_API_KEY>&exclude=minutely&lat=42.2711&lon=89.094&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":42.2711,"lon":89.094,"timezone":"Asia/Shanghai","timezone_offset":28800,"current":{"dt":1611109047,"sunrise":1611106032,"sunset":1611140497,"temp":17.74,"feels_like":10.15,"pressure":1025,"humidity":77,"dew_point":12.42,"uvi":0.11,"clouds":100,"visibility":10000,"wind_speed":3.42,"wind_deg":263,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1611108000,"temp":17.74,"feels_like":10.15,"pressure":1025,"humidity":77,"dew_point":12.42,"uvi":0.11,"clouds":100,"visibility":10000,"wind_speed":3.42,"wind_deg":263,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1611111600,"temp":18.95,"feels_like":11.62,"pressure":1025,"humidity":76,"dew_point":13.33,"uvi":0.4,"clouds":96,"visibility":10000,"wind_speed":3.06,"wind_deg":266,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1611115200,"temp":22.05,"feels_like":14.83,"pressure":1026,"humidity":73,"dew_point":15.53,"uvi":0.79,"clouds":84,"visibility":10000,"wind_speed":3.13,"wind_deg":248,"weather":[{"id":803,"main":"Clouds","description":"b[...]
