---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_API_KEY>&exclude=minutely&lat=42.259445&lon=-89.064445&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":42.2594,"lon":-89.0644,"timezone":"America/Chicago","timezone_offset":-21600,"current":{"dt":1611163345,"sunrise":1611148770,"sunset":1611183294,"temp":15.01,"feels_like":1.22,"pressure":1022,"humidity":67,"dew_point":7,"uvi":1.56,"clouds":40,"visibility":10000,"wind_speed":13.8,"wind_deg":200,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"hourly":[{"dt":1611162000,"temp":15.01,"feels_like":3,"pressure":1022,"humidity":67,"dew_point":7,"uvi":1.56,"clouds":40,"visibility":10000,"wind_speed":10.65,"wind_deg":201,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1611165600,"temp":15.82,"feels_like":2.57,"pressure":1021,"humidity":81,"dew_point":11.55,"uvi":1.76,"clouds":58,"visibility":10000,"wind_speed":13.38,"wind_deg":186,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1611169200,"temp":18.77,"feels_like":3.87,"pressure":1018,"humidity":89,"dew_point":16.38,"uvi":1.68,"clouds":56,"visibility":10000,"wind_speed":16.98,"wind_deg":188,"weather":[{"id":803,"main":"Clouds","description":"br[...]
