---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=<OPEN_WEATHER_API_KEY>&exclude=minutely&lat=42.259445&lon=-89.064445&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":42.2594,"lon":-89.0644,"timezone":"America/Chicago","timezone_offset":-21600,"current":{"dt":1611166504,"sunrise":1611148770,"sunset":1611183294,"temp":16.88,"feels_like":3.2,"pressure":1022,"humidity":67,"dew_point":8.8,"uvi":1.88,"clouds":40,"visibility":10000,"wind_speed":13.8,"wind_deg":200,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"hourly":[{"dt":1611165600,"temp":16.88,"feels_like":3.56,"pressure":1022,"humidity":67,"dew_point":8.8,"uvi":1.88,"clouds":40,"visibility":10000,"wind_speed":13.15,"wind_deg":184,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1611169200,"temp":18.23,"feels_like":2.82,"pressure":1020,"humidity":81,"dew_point":13.93,"uvi":1.73,"clouds":41,"visibility":10000,"wind_speed":17.49,"wind_deg":190,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1611172800,"temp":21.74,"feels_like":5.74,"pressure":1017,"humidity":89,"dew_point":19.31,"uvi":1.19,"clouds":38,"visibility":10000,"wind_speed":19.37,"wind_deg":194,"weather":[{"id":802,"main":"Clouds","description":[...]
